---
layout: layouts/base.njk
---

<link href="/images.js" rel="preload" as="script">
<!--<script src="/images.js" defer></script>-->
<a rel="me" href="https://mas.to/@hazelicious" hidden></a>

<h1>Shaping the future ★</h1>
<p role="doc-subtitle">I’m an interdisciplinary designer and developer with a mission to make the better web, for everyone.</p>

<!-- TEMP FOR REVIEW -->
<a class="ag-card" id="ag-work" href="https://bento.me/imstella" target="_blank" aria-label="Work">
  <div class="ag-card-video">
  <video autoplay loop muted>
    <source src="http://novanova.duckdns.org:7070/u/g87o3T.mp4">
  </video>
</div>
  <div class="ag-card-overlay">
    <div class="ag-card-overlay-content">
      View my work
    </div>
  </div>
</a>

<!--<div id="ag">
  <a class="ag-card" id="ag-work" href="https://novussy.bsky.social" target="_blank" aria-label="Work">
    <div class="ag-card-images"></div>
    <div class="ag-card-overlay">
      <div class="ag-card-overlay-content">
        Bluesky
      </div>
    </div>
  </a>
  <div id="ags">
    <a class="ag-card" id="ag-captures" href="https://mas.to/@hazelicious" target="_blank" aria-label="Captures">
      <div class="ag-card-images"></div>
      <div class="ag-card-overlay">
        <div class="ag-card-overlay-content">
          Mastodon (let's not really talk about the name)
        </div>
      </div>
    </a>
    <a class="ag-card" id="ag-selfies" href="https://x.com/heartsofnova" target="_blank" aria-label="Selfies">
      <div class="ag-card-images"></div>
      <div class="ag-card-overlay">
        <div class="ag-card-overlay-content">
          My everything page tbh
        </div>
      </div>
    </a>
  </div>
</div>-->

<a href="https://dsc.gg/exopetals" id="discord-link" class="not-hyperlink" target="_blank">
  <div class="symbol">{{ collections.symbols["brand-discord"] | safe }}</div>Join my Discord server
</a>

<div id="stats">
{% for stat in collections.stats %}
  <div class="stat">
    <h2 class="stat-name">
      <div class="symbol">{{ collections.symbols[stat.icon] | safe }}</div>
      {{ stat.title }}
    </h2>
    <div class="stat-content">
      {{ stat.content }}
    </div>
  </div>
{% endfor %}
</div>

<!--
<h2 class="section-header"><div class="symbol">{{ collections.symbols["flag-pride-progress"] | safe }}</div> My pride flags</h2>
<ul class="linear-list" id="pride-flags">
  <li>
    <svg width="44" height="33" viewBox="0 0 44 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_5835_844)">
    <rect x="0.5" y="0.5" width="42.6667" height="32" rx="5.33333" fill="white"/>
    <rect x="0.5" y="0.5" width="42.6667" height="4.57143" fill="#D460A7"/>
    <rect x="0.5" y="5.07153" width="42.6667" height="4.57143" fill="#E4ADCD"/>
    <rect x="0.5" y="9.64294" width="42.6667" height="4.57143" fill="white"/>
    <rect x="0.5" y="14.2144" width="42.6667" height="4.57143" fill="#57CEF8"/>
    <rect x="0.5" y="18.7856" width="42.6667" height="4.57143" fill="white"/>
    <rect x="0.5" y="23.3571" width="42.6667" height="4.57143" fill="#E4ADCD"/>
    <rect x="0.5" y="27.9286" width="42.6667" height="4.57143" fill="#D460A7"/>
    </g>
    <defs>
    <clipPath id="clip0_5835_844">
    <rect x="0.5" y="0.5" width="42.6667" height="32" rx="5.33333" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    Femboy
  </li>
  <li>
    <svg width="43" height="33" viewBox="0 0 43 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_5835_854)">
    <rect x="0.166687" y="0.5" width="42.6667" height="32" rx="5.33333" fill="white"/>
    <rect x="0.166687" y="0.5" width="42.6667" height="4.57143" fill="#808080"/>
    <rect x="0.166687" y="5.07153" width="42.6667" height="4.57143" fill="#C5C5C5"/>
    <rect x="0.166687" y="9.64294" width="42.6667" height="4.57143" fill="#87DCEF"/>
    <rect x="0.166687" y="14.2144" width="42.6667" height="4.57143" fill="white"/>
    <rect x="0.166687" y="18.7856" width="42.6667" height="4.57143" fill="#87DCEF"/>
    <rect x="0.166687" y="23.3571" width="42.6667" height="4.57143" fill="#C5C5C5"/>
    <rect x="0.166687" y="27.9286" width="42.6667" height="4.57143" fill="#808080"/>
    </g>
    <defs>
    <clipPath id="clip0_5835_854">
    <rect x="0.166687" y="0.5" width="42.6667" height="32" rx="5.33333" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    Nonbinary
  </li>
  <li>
</ul>
-->

<h2 class="section-header"><div class="symbol">{{ collections.symbols["heart"] | safe }}</div> Stuff that I enjoy</h2>
<ul class="linear-list">
  <li class="text">Self-hosting stuff</li>
  <li class="text">The colour pink</li>
  <li class="text">Zelda</li>
  <li class="text">Animal Crossing</li>
  <li class="text">Regretevator</li>
  <li class="text">Chatting on Discord</li>
  <li class="text">Blahaj's</li>
  <li class="text">Linux</li>
  <li class="text">Cats</li>
  <li class="text">Pasta (Yummy)</li>
</ul>

<h2 class="section-header"><div class="symbol">{{ collections.symbols["comment"] | safe }}</div> Contact</h2>
<ul class="linear-list">
  <li class="text"><a href="https://x.com/heartsofnova" target="_blank">Twitter</a></li>
  <li class="text"><a href="https://instagram.com/heartsofnova" target="_blank">Instagram</a></li>
  <li class="text"><a href="https://github.com/glitchbook" target="_blank">GitHub</a></li>
  <li class="text"><a href="https://mas.to/@hazelicious" target="_blank">Mastodon</a></li>
  <li class="text"><a href="https://novussy.bsky.social" target="_blank">Bluesky</a></li>
  <li class="text"><a href="mailto:founder@petaltech.xyz" target="_blank">Email</a></li>
  <li class="text"><a href="https://bento.me/imstella" target="_blank">Bento</a></li>
</ul>
