---
layout: layouts/base.njk
---

<h1 class="title--main">I’m Aetinx, a designer and coder from Maine that loves to create fun and interesting things that people can enjoy.</h1>

<section id="main-cards">
  <section id="favourites">
    <h2>Favourite things</h2>
    <p>
      Thigh highs, hoodies, the colour pink, frosted sugar biscuits, Evangelion, taquitos, Blåhajs, eggnog, choker necklaces, cute guys
    </p>
  </section>
  <section id="hobbies">
    <h2>Hobbies</h2>
    <p>
      When I’m not busy working and honing in on my skills, I like to spend my time drawing cute pictures, listening to music, taking selfies, and chatting on Discord.
    </p>
  </section>
  <!--<section id="experience">
    <h2>Experience</h2>
    <ul>
      <li>
        <span>Graphic design</span>
        <span>2016</span>
      </li>
      <li>
        <span>Front-end web development</span>
        <span>2021</span>
      </li>
      <li>
        <span>Eleventy (11ty)</span>
        <span>2021</span>
      </li>
      <li>
        <span>Unreal Engine 4</span>
        <span>2022</span>
      </li>
      <li>
        <span>Framer</span>
        <span>2022</span>
      </li>
    </ul>
  </section>-->
</section>