:root {
  --color-accent: #f49;
  --color-background: #090909;
  --color-foreground: white;
  --color-foreground-sub-minor: #999;
  --color-foreground-sub: #777;
  --color-foreground-sub-major: #555;

  --margin-xxl: 150px;
  --margin-xl: 100px;
  --margin-l: 75px;
  --margin-m: 50px;
  --margin-s: 25px;
  --margin-xs: 10px;

  --gap-l: 50px;
  --gap-m: 25px;
  --gap-s: 15px;

  --font-size-label: 18px;
  --font-size-body: 32px;
  --font-size-paragraph: 36px;
  --font-size-title: 72px;
  --font-size-secheader: 24px;

  font-family: InterVariable, Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  font-variation-settings: "opsz" 32;
  font-size: var(--font-size-body);
  font-weight: 500;
  scrollbar-color: #777 #333;
}

html {
  background: var(--color-background);
  color: var(--color-foreground);
}

body {
  margin: 0 auto;
  max-width: 1000px;
  padding: var(--margin-xl);
}

a {
  color: inherit;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.5;
}

a.not-hyperlink {
  color: inherit;
  text-decoration: inherit;
}

small {
  font-size: max(0.5em, 14px);
}

sup, sub {
  font-size: 0.75em;
}

big {
  font-size: 1.5em;
}

hr {
  background: var(--color-foreground-sub);
  border: none;
  height: 1px;
  margin: var(--margin-xl) 0;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-l);
  gap: var(--gap-l);
  color: var(--color-foreground-sub-minor);
  font-size: var(--font-size-label);
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
}

.nav-logo svg, .nav-toggle svg {
  display: block;
}

.nav-pages {
  display: flex;
  flex: 1;
  gap: var(--gap-l);
}

.nav-socials {
  display: flex;
  gap: var(--gap-m);
}

nav a {
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-top: var(--margin-l);
  margin-bottom: var(--margin-m);
}

[role="doc-subtitle"] {
  margin-top: var(--margin-s);
  margin-bottom: var(--margin-xl);
  color: var(--color-foreground-sub);
}

h2 {
  font-size: var(--font-size-secheader);
  color: var(--color-foreground-sub);
  font-weight: inherit;
}

p {
  font-size: var(--font-size-paragraph);
  line-height: 1.5;
  color: var(--color-foreground-sub);
}

.symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
}

.symbol svg {
  scale: calc(4/3);
  height: 100%;
  width: 100%;
}

/*#ag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin: var(--margin-xxl) 0 var(--margin-xs) 0;
}

#ag1 { grid-area: 1 / 1 / 3 / 2; }
#ag2 { grid-area: 1 / 2 / 2 / 3; }
#ag3 { grid-area: 2 / 2 / 3 / 3; }

#ag2, #ag3 {
  aspect-ratio: 3/2;
}*/

#ag {
  display: grid;
  gap: 10px;
  margin: var(--margin-xxl) 0 var(--margin-xs) 0;
}

#ags {
  display: flex;
  aspect-ratio: 16 / 9;
  gap: 10px;
}

#ag-work {
  aspect-ratio: 16 / 9;
}

#ag-captures {
  width: 100%;
}

#ag-selfies {
  height: 100%;
  aspect-ratio: 2 / 3;
  flex-shrink: 0;
}

.ag-card {
  position: relative;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  tabindex: 1;
}

.ag-card:hover {
  opacity: unset;
}

.ag-card-images {
  position: relative;
  height: 100%;
  width: 100%;
  inset: 0;
  overflow: hidden;
}

.ag-card-images > div {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center center;
}

.ag-card-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: end;
  backdrop-filter: blur(12.5px);
  background: #0007;
  padding: 150px;
  color: white;
  font-size: var(--font-size-body);
  opacity: 0;
  transition: 0.25s;
  margin: -100px;
}

.ag-card:hover .ag-card-overlay {
  opacity: 1;
}

.ag-card-overlay-content {
  opacity: 0;
  translate: 0 1em;
  transition: 0.25s;
}

.ag-card-overlay:hover .ag-card-overlay-content {
  opacity: 1;
  translate: 0 0;
}

#discord-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-m);
  padding: var(--margin-l);
  background: #333;
  border-radius: 16px;
  color: var(--color-foreground);
  text-decoration: none;
  transition: background 0.25s;
}

#discord-link:hover {
  opacity: unset;
  background: #5865F2;
}

#stats {
  container: stats / inline-size;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-l) 0;
  margin: var(--margin-xl) 0;
}

.stat {
  display: grid;
  align-content: start;
  min-width: 33%;
  flex: 1;
  gap: var(--gap-s);
}

@container stats (max-width: 500px) {
  .stat {
    min-width: 50%;
  }
}

.stat-name {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  margin: 0;
}

.stat-content {
  font-size: var(--font-size-body);
}

@container stats (max-width: 333.33px) {
  .stat {
    min-width: 100%;
  }

  .stat {
    display: flex;
    justify-content: space-between;
  }
}

.section-header {
  display: flex;
  align-items: center;
  margin-top: var(--margin-xxl);
  margin-bottom: var(--gap-m);
  gap: var(--gap-s);
}

li {
  line-height: 2;
}

.linear-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m) var(--gap-l);
  padding: 0;
}

.linear-list li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: unset;
}

#pride-flags li {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
}

#pride-flags li svg {
  height: 1em;
  width: unset;
}

@media (pointer: none) or (pointer: coarse) {
  a:hover {
    opacity: unset;
  }
}

@media only screen and (max-width: 500px) {
  .ag-card-overlay {
    display: none;
  }

  #discord-link .symbol {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    --margin-xxl: 60px;
    --margin-xl: 50px;
    --margin-l: 40px;
    --margin-m: 20px;
    --margin-s: 10px;
    --margin-xs: 7px;

    --gap-l: 30px;
    --gap-m: 20px;
    --gap-s: 10px;

    --font-size-label: 18px;
    --font-size-body: 18px;
    --font-size-secheader: 18px;
    --font-size-paragraph: 20px;
    --font-size-title: 36px;

    --color-foreground-sub-minor: #999;
    --color-foreground-sub: #787878;
    --color-foreground-sub-major: #787878;
  }

  nav {
    flex-direction: column;
    align-items: unset;
  }

  nav.open {
    position: fixed;
    gap: 50px;
    inset: 0;
    background: var(--color-background);
    padding: var(--margin-xl);
    margin-bottom: 0;
    z-index: 2;
  }

  nav.open ~ * {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-pages, .nav-socials {
    display: none;
  }

  .nav-pages {
    display: none;
    flex-direction: column;
    gap: 15px;
    font-size: 32px;
  }

  nav.open .nav-pages,
  nav.open .nav-socials {
    display: flex;
  }

  nav .nav-toggle svg {
    transform-box: fill-box;
  }

  nav .nav-toggle svg path {
    rotate: 0deg;
    transform-origin: 9px 9px;
    transition: 0.5s;
  }

  nav.open .nav-toggle svg path:first-child {
    rotate: 270deg;
  }

  nav.open .nav-toggle svg path:last-child {
    rotate: 180deg;
  }
}









/* TEMP TEMP */

.ag-card {
  margin: var(--margin-xxl) 0 var(--margin-xs) 0;
}

.ag-card:before {
  border: 2px solid #fff3;
  border-radius: 16px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  pointer-events: none;
}

.ag-card-video > video {
  height: 100%;
  width: 100%;
}

.ag-card-overlay {
  display: grid;
  place-items: center;
}

/* END TEMP */